
.md-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.md{
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
}

.md h1, .md-children h1, .md-children h2.title, .md-children h3.title{
  border-bottom: 1px solid var(--main);
  padding-bottom: 8px;
}


.md blockquote{
    font-style: italic;
}
